@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-image-pair(root) {
  isolation: auto;
}

::view-transition-group(*) {
  animation-duration: 0.5s;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: heartbeat 4s infinite;
  }
}

.see{
  border-bottom: solid transparent 2px;
}

.see:hover {
  border-bottom: solid #000000 2px;
}